<!--MODAL WINDOW-->
<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
		<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
			<ul class="cd-switcher">
				<li><a href="#0">Авторизация</a></li>
				<li><a href="#0">Регистрация</a></li>
			</ul>

			<div id="cd-login"> <!-- Авторизация -->
				<form role="form" action="/login/submit" method="post" class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="signin-email">E-mail</label>
						<input class="full-width has-padding has-border" id="signin-email" type="text" placeholder="E-mail" name="email" required="required">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signin-password">Password</label>
						<input class="full-width has-padding has-border" id="signin-password" type="text"  placeholder="Password" name="password" required="required">
						<a href="#0" class="hide-password">Hide</a>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<!--<p class="fieldset">
						<input type="checkbox" id="remember-me" checked>
						<label for="remember-me">Remember me</label>
					</p>-->

					<p class="fieldset">
						<input class="full-width" type="submit" value="Войти" name="submit">
					</p>
				</form>
				
				<p class="cd-form-bottom-message"><a href="#0">Забыли пароль?</a></p>
			</div> <!-- cd-login -->

			<div id="cd-signup"> <!-- Регистрация -->
				<form class="cd-form" role="form" action="/register/submit" method="post">
					<p class="fieldset">
						<label class="image-replace cd-username" for="signup-username">Username</label>
						<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username" name="username" required="required">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-email" for="signup-email">E-mail</label>
						<input class="full-width has-padding has-border" id="signup-email" type="text" placeholder="E-mail" name="email" required="required">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signup-password">Password</label>
						<input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Password" name="password" required="required">
						<a href="#0" class="hide-password">Hide</a>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<!--<p class="fieldset">
						<input type="checkbox" id="accept-terms">
						<label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
					</p>-->

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Создать аккаунт" name="submit" id="submit">
					</p>
				</form>

			</div> <!-- cd-signup -->

			<div id="cd-reset-password"> <!-- Сброс пароля -->
				<p class="cd-form-message">Забыли пароль? Напишите E-mail, который вы вводили при регистрации и мы отправим вам новый временный пароль.</p>
				<form class="cd-form" role="form" action="/refresh_pass/submit" method="post">
					<p class="fieldset">
						<label class="image-replace cd-email" for="reset-email">E-mail</label>
						<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail" name="email" required="required">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Отправить заявку">
					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="#0">Вернуться к авторизации</a></p>
			</div> <!-- cd-reset-password -->
		</div> <!-- cd-user-modal-container -->
	</div> <!-- cd-user-modal -->
    
    <!--MODAL WINDOW-->